@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");


/* VARIABLES LIGHT */
:root {
  --ff-poppins: 'Poppins';
  --ff-ubuntu: 'ubuntu';
  --clr-bg: #FAFAFA;
  --clr-bg-90: #EFEFEF;
  --clr-text: #333333;
  --clr-gray: #B0B0B0;
  --clr-gray-alt: #D8D8D8;
  --clr-details: #5784BA;
  --clr-main: #4A74A5;
  --clr-btn: #4A74A5;
  --clr-btn-text: #FFFFFF;
  --clr-brackets: #666666;
  --clr-color-hover: #3A5C8A;
  --clr-color-labels: rgba(0, 0, 0, 0.6);
  --clr-color-shadow: rgba(0, 0, 0, 0.1);
  --clr-bg-card-code: #F6F2E6;
  --clr-color-hover-card: #ECE6D4;
  --clr-color-bg-modal: rgba(255, 255, 255, 0.4);
}


/* VARIABLES DARK */
[data-theme="dark"] {
  --clr-bg: #181C21;
  --clr-bg-90: #12171B;
  --clr-text: #D6D6D6;
  --clr-gray: #707070;
  --clr-gray-alt: #2B3036;
  --clr-main: #8DABD4;
  --clr-btn: #7189A1;
  --clr-btn-text: #EFEFEF;
  --clr-brackets: #E8E8E8;
  --clr-color-hover: #637B91;
  --clr-color-labels: rgba(255, 255, 255, 0.7);
  --clr-color-shadow: rgba(0, 0, 0, 0.5);
  --clr-bg-card-code: #4E565D;
  --clr-color-hover-card: #3D454B;
  --clr-color-bg-modal: rgba(0, 0, 0, 0.7);
}


*,
*:after,
*:before {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.12s ease-out;
    text-decoration: none;
}

a {
    color: inherit;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--ff-poppins);
    background-color: var(--clr-bg);
    height: 100vh;
}

#root{
  height: 100%;
  position: relative;
}

.title {
  color: var(--clr-main);
  font-size: 3.3em;
}

.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

.container-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-bottom: 2em;
  width: 100%;
}

.content-stacks, .topics {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  width: inherit;
  margin-top: 2em;
}

.stack{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.btn {
  background-color: var(--clr-btn);
  color: var(--clr-btn-text);
  padding: .8em 1.5em;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  &:hover{
    background-color: var(--clr-color-hover);
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
  }
}

.generic_input{
  display: block;
  color: var(--clr-text);
  font-size: .9em;
  padding: 4px 0 5px;
  border: 0;
  background: none;
  border-bottom: solid 2px var(--clr-main);
  &:hover{
    border-bottom: solid 2px var(--clr-color-hover);
  }
  &:focus{
    outline: 0;
  }
}

.generic-select{
  padding: 1em 1.5em;
  border: 1px solid var(--clr-main);
  background: none;
  border-radius: 5px;
  &:focus{
    outline: 0;
  }
  &:hover{
    border: 1px solid var(--clr-color-hover);
  }
  & option{
    padding: .7em;
  }
}

.content-select{
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.label-msg{
  font-size: .75rem;
  color: var(--clr-color-labels);
}

.custom-dropdown {
  position: relative;
  min-width: 150px;
  max-width: 930px;
  border: 2px solid var(--clr-main);
  cursor: pointer;
  border-radius: 5px;
  &:hover{
    border: 2px solid var(--clr-color-hover);
  }
}

.selected-option {
  padding: 10px 15px;
  background-color: none;
  color: var(--clr-color-labels);
  border-radius: 5px;
}

.options-list {  
  color: var(--clr-text);
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-top: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: var(--clr-bg-card-code);
}

.options-list.hidden {
  display: none;
}

.options-list li {
  padding: 10px 15px;
  border-top: 1px solid #eee;
}

.options-list li:hover {
  background-color: var(--clr-color-hover-card);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  padding-top: 100px;
}

h1.title{
  font-weight: 400;
}

/* Menu */
.navbar.sticky {
  padding: 15px 0;
  /* background: var(--clr-main); */
}

.navbar.sticky .logo button span {
  color: #fff !important;
}

.navbar.sticky .menu li a:hover {
  color: var(--clr-main) !important;
}

.navbar {
  background-color: var(--clr-bg-90);
  position: fixed;
  width: 100%;
  padding: 30px 0;
  font-family: var(--ff-ubuntu);
  z-index: 999;
  border-bottom: solid 1px var(--clr-gray-alt);
}

.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .max-width .logo {
  display: flex;
  gap: 2em;
}

.navbar .max-width .logo button {
  color: var(--clr-text);
  font-size: 35px;
  font-weight: 600;
  background: none;
  cursor: pointer;
  font-size: 1.8em;
}

.navbar .max-width .logo button span {
  color: var(--clr-main);
}

.navbar .max-width .menu li {
  list-style: none;
  display: inline-block;
}

.navbar .max-width .menu li a {
  color: var(--clr-text);
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  display: block;
}

.navbar .max-width .menu li a::before {
  content: '<';
  color: var(--clr-gray);
  display: inline-block;
  transition: color .2s, transform .1s .2s;
}

.navbar .max-width .menu li a::after {
  content: '/>';
  color: var(--clr-gray);
  display: inline-block;
  transition: color .2s, transform .1s .2s;
}

@media (hover: hover) {
  .navbar .max-width .logo button:hover {
      color: var(--clr-details);
  }

  .navbar .max-width .menu li a:hover::before {
      color: var(--clr-brackets);
      transform: translateX(-.5rem);
  }

  .navbar .max-width .menu li a:hover::after {
      color: var(--clr-brackets);
      transform: translateX(.5rem);
  }

  .navbar .max-width .menu li a:hover {
      color: var(--clr-main);
  }
}

.menu-btn {
  color: var(--clr-text);
  font-size: 23px;
  cursor: pointer;
  display: none;
}


/* Card */

.card {
  border: 1px solid var(--clr-main);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px var(--clr-color-sadow);
  min-width: 400px;
  max-width: 70%;
  margin: 20px auto;
  background-color: var(--clr-bg-90);
  color: var(--clr-text);
}

.card-title {
  font-family: var(--ff-ubuntu);
  font-size: 1.5em;
  margin-bottom: 20px;
  text-align: center;
}

.code-block {
  border-radius: 5px 5px 0 0;
  padding: 10px !important;
  & span {
    border-radius: 5px;
  }
} 

.custom-list {
  background-color: var(--clr-bg-card-code);
  list-style-type: none;
  border-radius: 0 0 5px 5px;
}

.custom-list-item {
  border-bottom: 1px solid var(--clr-main);
  padding: 10 5px;
  &:last-child{
    border-bottom: none;
  }
}

.custom-list-button {
  width: 100%;
  padding: 10px 15px;
  background-color: transparent;
  border: none;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5px;
}

.custom-list-button:hover:not(:disabled) {
  background-color: var(--clr-color-hover-card) !important; /* Un ligero resaltado al pasar el mouse */
}

.custom-list-button.disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.custom-list-text {
  color: var(--clr-text);
  font-family: var(--ff-ubuntu);
  font-size: 1.3em;
}

/* flchas de direccion */
.nav-stack {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.nav-button {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  transition: opacity 0.3s ease;
  color: var(--clr-text);
}

.nav-button:hover {
  opacity: 0.7;
}

.nav-button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.question-count {
  font-size: 1.2rem;
  color: var(--clr-text);
}

/* footer */

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 16px;
  color: var(--clr-text);
}

/* Modal */
/* .open-modal {
  
} */

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(4px);
  background-color: var(--clr-color-bg-modal);
  z-index: 1;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.modal-content{
  position: relative;
  background-color: var(--clr-bg);
  color: var(--clr-text);
  width: 550px;
  max-width: 90%;
  height: auto;
  padding: 1.5rem;
  border-radius: 8px;
  animation-name: modal;
  animation-duration: .5s;
  box-shadow: 0 5px 16px -5px rgba(0,0,0,.4);
  z-index: 10;
  & p{
      font-weight: 400;
      & a{
          color: #4d7be6;
      }
  }
  & .modal-title{
      font-weight: 600;
      font-size: 2em;
      margin-bottom: 1em;
  }
  & .close-modal{
      position: absolute;
      border-radius: 50%;
      top: -15px;
      right: -15px;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #eee;
      cursor: pointer;
      background-color: var(--clr-main);
  }
}

@keyframes modal{
  from{
      transform: translateY(50vh);
  }
  to{
      transform: translateY(0);
  }
}

.close{
  transition: transform 1s cubic-bezier(0, -.42, 1 ,-.41);
  transform: translateY(60vh);
}

.wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
      transform: rotate(0.0deg)
  }

  10% {
      transform: rotate(14.0deg)
  }

  /* The following five values can be played with to make the waving more or less extreme */
  20% {
      transform: rotate(-8.0deg)
  }

  30% {
      transform: rotate(14.0deg)
  }

  40% {
      transform: rotate(-4.0deg)
  }

  50% {
      transform: rotate(10.0deg)
  }

  60% {
      transform: rotate(0.0deg)
  }

  /* Reset for the last half to pause */
  100% {
      transform: rotate(0.0deg)
  }
}

/* cardDegree */
.card-category{
	display: flex;
  flex-wrap: wrap;
	align-items: center;
	justify-content: center;
  gap: 2rem;
	& .card-degree{ /*  si se modifica la altuta eso se suma o resta en  .intro[bottom] y hove.intro[bottom]*/ 
		margin: 50px 0;
    height: 300px;
		box-shadow: 5px 5px 20px black;
		position: relative;
		border-radius: 3px;
    padding: 0;
    width: 300px;
		& img{
			max-width: 100%;
			border-radius: 3px;
      object-fit: cover;
		}
		.intro {
			height: 70px;
			padding: 6px;
			box-sizing: border-box;
			background-color: rgba(27, 27, 27, .5);
			color: white;
			transition: all .5s;
			margin-top: -77px;
			border-radius: 0 0 3px 3px;
			position: absolute;
			width: 100%;
			& div{
        margin: auto;
				text-align: center;
				font-size: 40px;
			}
		}

		&:hover{
			cursor: pointer;
			& img{
				transform: scale(1.1);
			}
			& .intro{
				margin-top: -65px;
				transform: scale(1.1);
			}
		}
	}
}

.grid-content {
  width: 100%;
  display: grid;
  place-content: center;
  & .sub-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, max-content)); /* Crea siempre 4 columnas */
    gap: 2rem;
    justify-content: center; /* Esto centra los items dentro del sub-grid */
    & .grid-item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
    }
  }
}

/* CardTopis */
.topics, .partials{
  gap: 0;
}

.partials{
  & .topic{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.topic.selected {
  background-color: var(--clr-main) !important;  /* Puedes cambiar este color por el que prefieras */
  color: white;
}

.title-topics {
  color: var(--clr-main);
  font-weight: 400;
  text-align: center;
}

.topics-container{
  color: var(--clr-text);
  padding: 25px 10px;
  border-radius: 3px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  &:hover{
    cursor: pointer;
  }
  & .topic{
    background-color: var(--clr-bg-card-code);
    padding: 12px;
    border-radius: 4px;
    &:hover{
      background-color: var(--clr-color-hover-card);
    }
    & h3{
      font-weight: 400;
    }
  }
}



/* Responsive */

@media (max-width: 1000px) {
  .sub-grid {
    grid-template-columns: repeat(2, 1fr) !important; /* 2 columnas para pantallas medianas */
  }
}

@media (max-width: 800px) {
  .card {
    min-width: 350px;
  }
  
}

@media (max-width: 700px) {
  .card {
    min-width: 300px;
  }
  
}

@media (max-width:600px) {
  .stack.sm{
    flex-direction: column;
    width: 100%;
    gap: 10px;
    align-items: flex-start;
  }

  .content-select {
    width: 100%;
  }

  .card {
    max-width: 90%;
  }

  .sub-grid {
    grid-template-columns: 1fr !important; /* 1 columna para pantallas pequeñas */
  }

  .card-category{
    gap: 1rem;
  }

  .card-degree{
    margin: 20px 0 !important;
  }
}

@media (max-width:460px) {
  h1.title{
    font-size: 2.3em;
  }

  .footer{
    font-size: .8em;
  }

  .modal {
    margin-top: 50px;
  }

  .card {
    min-width: 90%;
  }

  .card-degree {
    min-width: 90%;
  }
}

@media (max-width:360px) {
  h1.title{
    font-size: 2.3em;
  }

  .footer{
    font-size: .7em;
  }

  .modal {
    margin-top: 100px;
  }
}